<% if @wiki.private == true && current_user.role == "standard" then %>
  <h2>This is a Private wiki.  If you want to view and create private Wikis you should </h2><h2><%= link_to 'Go Premium!', new_charge_path %></h2>
  <div><%= link_to 'Home', root_path %></div>
<% else %>
  <div class="row">
    <b>Title</b><p><%= @wiki.title %></p>
  </div>
  
  <div class="row">
    <b>Content</b><p><%= @wiki.body %></p>
  </div>
  
  
  <% if @wiki.private == true then is_private = "Private Wiki" else is_private = "Public Wiki" end %>
  <div class="row">
    <b>Wiki status</b><p><%= is_private %></p>
  </div>
  
  
  <div class="row">
    <b>Created by</b><p><%= @wiki.user_id%></p>
  </div>
  
  
  <div class="row">
    
  
    <div><%= button_to "Edit", edit_wiki_path, :method => :get, class: 'btn btn' %></div>
  
  </div>
  
  <div class="spaceman">
    <hr>
    <div id="main_links">
     <div><%= link_to 'Wiki list', wikis_path %></div>
     <div><%= link_to 'Home', root_path %></div>
    </div>
  </div>
<% end %>